<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
</head>
<body>
    <form action="/user/changepassword" method="post">
        <div class="wrapper">
          <h1>Change Password</h1>
          
          <input type="email" placeholder="Enter email" name="email" />
          <input type="password" placeholder="Password" name="password" id="password"/>
          <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword"/>
          <div class="passworderror"></div>
          <button type="submit">Change Password</button>
        </div>
      </form>

      <script>
        const password = document.querySelector('#password');
        const confirmpassword = document.querySelector('#confirmpassword')
        const form = document.querySelector('form')
        const passworderror = document.querySelector('.passworderror')

        form.addEventListener('input',(e) => {
          let password = form.password.value;
          let confirmpassword = form.confirmpassword.value;

          passworderror.textContent = '';

          if(password != confirmpassword){
            passworderror.textContent = 'Passwords do not match'
            passworderror.style.color = '#DC3545';
          }
          else {
            passworderror.textContent = ''
          }

        })
      </script>
</body>
</html>