<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/user/login" method="post">
      <div class="wrapper">
        <h1>Login Page</h1>
        <p>
          Welcome back you've <br />
          been missed!
        </p>
        <input type="text" placeholder="Enter username" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <button type="submit">Login</button>
        <div class="not-member">
          Don't have an account? <a href="/user/signup">Sign Up</a>
        </div>
      </div>
    </form>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
