<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/user/signup" method="post">
      <div class="wrapper">
        <h1>Signup Page</h1>
        <br>
        <p>Create an account</p>
        <br>
          <input type="text" placeholder="Enter username" name="username" id="username"/>
          <input type="email" placeholder="Enter email" name="email" id="email"/>
          <input type="password" placeholder="Password" name="password" id="password"/>
        <button type="submit">Sign Up</button>
        <div class="not-member">Have an account? <a href="/user/login">Login</a></div>
      </div>
    </form>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
