@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /*   background: #dfe9f5;
 */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Main page content */
.auth-button {
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 10px;
  color: #3ca0e7;
  padding: 10px;
  margin-bottom: 50px;
}
.auth-button:hover {
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}


.coverphoto{
  border-radius: 4px;
  aspect-ratio: 4/3;
  height: 500px;
  width: 300px;
  position: absolute;
  right: 100px;
  top: 5%;
  bottom: 5%;
  padding: 10px;
  margin: 40px;
}


.button_slide {
  text-decoration: none;
  color: #07001f;
  border: 2px solid #3ca0e7;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3ca0e7;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top: 50px;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #3ca0e7;
  color: white;
  font-weight: 600;
  text-decoration: none;
}


/* LOGIN AND SIGN UP PAGE STYLING */
.wrapper {
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2rem;
  color: #07001f;
}
p {
  margin-bottom: 1.7rem;
}
form input {
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recover {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.recover a {
  text-decoration: none;
  color: #07001f;
}
button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: tomato;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: rgba(122, 30, 30, 0.767);
}
.or {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.icons i {
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: 0.9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover {
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.icons i:first-child {
  color: green;
}
.icons i:last-child {
  color: blue;
}
.not-member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-member a {
  color: tomato;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
